backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# The media_folder option specifies the folder path where uploaded files should be saved, relative to the base of the repo.
media_folder: "public/images/uploads"
public_folder: "/images/uploads"        # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: 'projects'       # Used in routes, e.g., /admin/collections/project
    label: 'Projects'      # Used in the UI
    label_singular: 'Project'
    folder: 'content/projects'
    format: 'frontmatter'
    create: true           # Allow users to create new documents in this collection
    slug: '{{slug}}'       # Filename template
    editor:
      preview: false
    fields:     # The fields for each document, usually in front matter
      - { label: 'Title', name: 'title', widget: 'string', required: true }
      - { label: 'Short Title', name: 'shortTitle', widget: 'string', required: false }
      - { label: 'Summary', name: 'summary', widget: 'string', required: true }
      - { label: 'Cover Image', name: 'coverImage', widget: 'image', required: true, allow_multiple: false }
      - { label: 'Type', name: 'type', widget: 'select', required: true, options: ["Student", "PWO", "Tetra"] }
      - { label: 'Tags', name: 'tags', widget: 'list', required: true, min: 1 }
